<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YT Downloader</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/Style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <nav class="navbar navbar-tall navbar-full" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand logo-cont">
                    <a href="">
                        <img src="{% static 'img\YTDownloader.png' %}" alt="YTDownloader" height="70px">
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1 class="text-center">Download the media you want here:</h1>
        <br>
        <!--main form-->
        <form id="media-form">
            <div class="form-block row">
                <div class="col-12 col-md-8">
                    <input type="text" name="sf_url" id="sf_url" class="form-control" placeholder="Paste the URL here...." required autofocus>
                </div>
                <div class="col-12 col-md-4 mt-2 mt-md-0">
                    <button type="button" id="sf_submit" class="btn btn-primary w-100">Search</button>
                </div>
            </div>
            <br>
            <!-- Media settings display -->
            <div class="p-3 media-display" id="media-info" style="display: none;">
                <div class="media-details row">
                    <div class="col-12 col-md-6">
                        <p><strong><span id="media-title">Cargando...</span></strong></p>
                        <img id="media-thumbnail" src="" alt="Thumbnail" style="width: 100%; max-width: 500px;">
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="text-center"><strong>Choose the Video quality:</strong></p>
                        <div id="video-options">
                            <p><strong>Video Options:</strong></p>
                            <!-- Opciones de descarga de video -->
                        </div>
                        <br>
                        <p class="text-center"><strong>Choose the Audio quality:</strong></p>
                        <div id="audio-options">
                            <p><strong>Audio Options:</strong></p>
                            <!-- Opciones de descarga de audio -->
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <!-- Spinner de carga (inicialmente oculto) -->
            <div id="loading-spinner" class="text-center" style="display: none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Cargando...</span>
                </div>
            </div>
        </form>
        <!--/main form-->
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/boxicons.js' %}"></script>
    <script src="{% static 'js/youtube_API.js' %}"></script>
</body>
</html>
